/* ------------ CSS RESET ------------ */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------ LINKS ------------ */
a:link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #f5f6fa;
}

a:visited {
  color: #f5f6fa;
}

a:hover {
  color: #b2bec3;
}

a:active {
  color: #f5f6fa;
}

/* ------------ BOTONES ------------ */
.button, .button-box, .heroButtonContainer .button-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d63031;
  border: none;
  border-radius: 5px;
  color: #f5f6fa;
  margin: 0.5vh 0 0.5vh 0;
  height: 3vh;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover, .button-box:hover, .heroButtonContainer .button-hero:hover {
  background-color: #f5f6fa;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  color: #d63031;
  font-weight: 400;
}

.heroButtonContainer {
  display: flex;
  justify-content: center;
}
.heroButtonContainer .button-hero {
  background-image: url(../img/pttA.svg);
  background-repeat: repeat;
  background-size: 90vh;
  margin: 1vh;
  width: 20vh;
  height: 6vh;
  /* Aplicado el @extend */
}

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11vh;
  border-radius: 3px;
  /* Aplicado el @extend */
}

/* ------------ MIXING ------------ */
/* ------------ MAIN CONTAINER ------------ */
.contenedorPadre {
  display: grid;
  grid-template-areas: "header header header header" "hero hero hero hero" "boxes boxes boxes boxes" "footer footer footer footer";
  grid-template-columns: 100%;
}

/* ------------ HEADER ------------ */
header {
  grid-area: header;
  background-color: #130f40;
  background-image: url(../img/pttA.svg);
  background-repeat: repeat;
  background-size: 100%;
  color: #f5f6fa;
  padding: 0px 3vh 0px 3vh;
  min-height: 10vh;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}
header li {
  display: inline-block;
  padding: 0px 20px;
}
header .logo_header {
  padding: 20px 5px 5px 35px;
  height: 8vh;
}

/* ------------ HERO BANNER ------------ */
.hero_container {
  grid-area: hero;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
  min-height: 90vh;
}
.hero_container .hero {
  width: 70%;
  text-align: center;
  z-index: 10;
}

#hero-home {
  position: relative;
  overflow: hidden;
}

#hero-home:before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  animation: kenBurns 30s infinite;
  z-index: -1;
}

/* ------------ CONTENIDO DEL SITIO ------------ */
.content {
  background-image: #f5f6fa;
  background-image: url(../img/pttB.svg);
  background-size: 50%;
  background-repeat: repeat;
}
.content .boxes {
  grid-area: boxes;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vh 0px 5vh 0px;
}
.content .boxes .box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 33vh;
  min-height: 33vh;
  background-color: #130f40;
  background-image: url(../img/pttC.svg);
  background-size: 300%;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
  color: #f5f6fa;
  text-align: center;
  border-radius: 5px;
  padding: 1vh 2vh 1vh 2vh;
  margin: 2%;
}

.boxText {
  width: 95vh;
  background-color: #130f40;
  background-image: url(../img/pttC.svg);
  background-size: 300vh;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
  color: #f5f6fa;
  border-radius: 5px;
  padding: 1vh 1vh 4vh 1vh;
  margin: 1%;
}

.box-foto {
  border-radius: 5px;
  width: 30vh;
  margin: 5px;
}

/* ------------ ESILOS DEL TEXTO ------------ */
.heroText {
  font-family: "Righteous", cursive;
  color: #f5f6fa;
  font-weight: bold;
  font-size: 6vh;
  text-align: center;
  font-stretch: expanded;
}

.frase {
  font-family: "Raleway", sans-serif;
  color: #f5f6fa;
  font-weight: 100;
  font-size: 4vh;
  font-style: italic;
  text-align: center;
  font-stretch: expanded;
}

/* ------------ ESTILO DE TITULOS ------------ */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 5vh;
  font-stretch: expanded;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 4vh;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-weight: bold;
  font-size: 2vh;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.5vh;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
}

/* ------------ ESTILOS DE FOOTER ------------ */
footer {
  grid-area: footer;
  background-color: #130f40;
  background-image: url(../img/pttA.svg);
  color: #f5f6fa;
}

.pie {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 15px 15px 15px;
  padding: 1vh;
}

.direccion {
  display: block;
  text-align: center;
}

.direccionFoto {
  background-image: url(../img/local.jpg);
  width: 280px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.map {
  border-radius: 5px;
  width: 280px;
  height: 150px;
  margin-bottom: 15px;
}

/* ------------ NOSOSTROS HERO ------------ */
#hero-nos {
  position: relative;
  overflow: hidden;
}

#hero-nos:before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/nosotros.jpg");
  background-size: cover;
  animation: kenBurns 30s infinite;
  z-index: 0;
}

#boxNos {
  width: 75vw;
  margin: 1vh 0px 1vh 0px;
}

/* ------------ MENU HERO ------------ */
#hero-menu {
  position: relative;
  overflow: hidden;
}

#hero-menu:before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/menu-hero.jpg");
  background-size: cover;
  animation: kenBurns 30s infinite;
  z-index: 0;
}

#menu-box {
  width: 95vh;
  margin: 1vh 0px 1vh 0px;
}

/* ------------ RESERVAS HERO ------------ */
#hero-reservas {
  position: relative;
  overflow: hidden;
}

#hero-reservas:before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/reservas.jpg");
  background-size: cover;
  animation: kenBurns 30s infinite;
  z-index: 0;
}

#menu-box {
  width: 95vw;
  margin: 1vh 0px 1vh 0px;
}

/* ------------ CONTACTO HERO ------------ */
#hero-contacto {
  position: relative;
  overflow: hidden;
}

#hero-contacto:before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/contacto.jpg");
  background-size: cover;
  animation: kenBurns 30s infinite;
  z-index: 0;
}

/* ------------ BARRA DE REDES ------------ */
.redes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3vh;
}

/*  uso de LOOP (@each)  */
.div-facebook {
  background-color: #3b5998;
  border-radius: 3px;
  padding: 0.3vw;
  margin: 0.3vh;
}

/*  uso de LOOP (@each)  */
.div-instagram {
  background-color: #d62976;
  border-radius: 3px;
  padding: 0.3vw;
  margin: 0.3vh;
}

/*  uso de LOOP (@each)  */
.div-youtube {
  background-color: #FF0000;
  border-radius: 3px;
  padding: 0.3vw;
  margin: 0.3vh;
}

/* ------------ KEYFRAMES ------------ */
@keyframes kenBurns {
  0% {
    transform: scale(1) translate(0);
  }
  25% {
    transform: scale(1.1) translate(2.5%, 2.5%);
  }
  50% {
    transform: scale(1.2) translate(5%, 5%);
  }
  75% {
    transform: scale(1.1) translate(2.5%, 2.5%);
  }
  100% {
    transform: scale(1) translate(0);
  }
}
/* ------------ MEDIA QUERRIES ------------ */
@media (max-width: 600px) {
  .hero {
    width: 95%;
    text-align: center;
    color: azure;
  }
  .box {
    background-size: 300%;
    width: 95%;
    min-width: 150px;
    border-radius: 5px;
    padding: 1vh 2vh 1vh 2vh;
    margin: 1%;
  }
  .box-foto {
    display: none;
  }
  .heroText {
    font-family: "Righteous", cursive;
    color: azure;
    font-weight: bold;
    font-size: 6vh;
    text-align: center;
    font-stretch: expanded;
  }
  .frase {
    font-family: "Raleway", sans-serif;
    color: azure;
    font-weight: 100;
    font-size: 3.5vh;
    font-style: italic;
    text-align: center;
    font-stretch: expanded;
  }
}
@media (max-width: 400px) {
  header {
    padding: 0px 0px 0px 10px;
  }
  header .logo_header {
    padding: 0px;
    height: 5vh;
  }
  .navegacion {
    display: none;
  }
  .hero {
    width: 95%;
  }
  .box {
    background-size: 300%;
    width: 95vh;
    border-radius: 5px;
    padding: 1vh 2vh 1vh 2vh;
    margin: 1%;
  }
  .box-foto {
    display: none;
  }
  .heroText {
    font-weight: bold;
    font-size: 3vh;
  }
  .frase {
    font-weight: 100;
    font-size: 2vh;
  }
  .direccionFoto {
    display: none;
  }
  .map {
    display: none;
  }
  .pie {
    text-align: center;
    font-size: 1vh;
  }
}
@media (max-width: 200px) {
  header {
    padding: 0px 0px 0px 0px;
    min-height: 5vh;
  }
  header .logo_header {
    padding: 0px;
    height: 15px;
  }
  .heroText {
    font-weight: bold;
    font-size: 15px;
  }
  a:link {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #f5f6fa;
  }
}

/*# sourceMappingURL=estilos.css.map */
