@use "variables";
/* ------------ MIXING ------------ */
@mixin flexible( $dis , $direction , $corte , $just , $align ){
    display         : $dis;
    flex-flow       : $direction $corte;
    justify-content : $just;
    align-items     : $align;
}
/* ------------ MAIN CONTAINER ------------ */
.contenedorPadre{
    display: grid;
    grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "boxes boxes boxes boxes"
    "footer footer footer footer";
    grid-template-columns: 100%;
}
/* ------------ HEADER ------------ */
header {
    grid-area: header;
    background-color: variables.$blue;
    background-image: variables.$pttA;
    background-repeat: repeat;
    background-size: 100%;
    color: variables.$white;
    padding: 0px 3vh 0px 3vh;
    min-height: 10vh;
    box-shadow: variables.$boxShadow;
        li {
            display:inline-block;
            padding: 0px 20px;
        }
    .logo_header {
        padding: 20px 5px 5px 35px;
        height: 8vh;
    }
}

/* ------------ HERO BANNER ------------ */
.hero_container {
grid-area: hero;
@include flexible( flex , column , wrap , center , center );
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-shadow: variables.$sectionShadow;
min-height: 90vh;
    .hero {
        width: 70%;
        text-align: center;
        z-index: 10;
    }
}
#hero-home {
    position: relative;
    overflow: hidden;
}
#hero-home:before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: variables.$heroOverlay, url("/img/hero.jpg");
    background-size: cover;
    animation: kenBurns 30s infinite;
    z-index: 0;
}
/* ------------ CONTENIDO DEL SITIO ------------ */
.content {
    background-image: variables.$white;
    background-image: variables.$pttB;
    background-size: 50%;
    background-repeat: repeat;
    .boxes {
        grid-area: boxes;
        @include flexible( flex , row , wrap , space-evenly , center );
        padding: 5vh 0px 5vh 0px;
        .box {
            @include flexible( flex , column , nowrap , space-evenly , center );
            width: 33vh;
            min-height: 33vh;
            background-color: variables.$blue;
            background-image: variables.$pttC;
            background-size: 300%;
            box-shadow: variables.$boxShadow;
            color: variables.$white;
            text-align: center;
            border-radius: 5px;
            padding: 1vh 2vh 1vh 2vh;
            margin: 2%;
        }
    }
}
.boxText {
    width: 95vh;
    background-color: #130f40;
    background-image: variables.$pttC;
    background-size: 300vh;
    box-shadow: variables.$boxShadow;
    color: variables.$white;
    border-radius: 5px;
    padding: 1vh 1vh 4vh 1vh;
    margin: 1%;
}
.box-foto{
    border-radius: 5px;
    width: 30vh;
    margin: 5px;
}
/* ------------ ESILOS DEL TEXTO ------------ */
.heroText{
    font-family: variables.$Righteous;
    color: variables.$white;
    font-weight: bold;
    font-size: 6vh;
    text-align: center;
    font-stretch: expanded;
}
.frase{
    font-family: variables.$Raleway;
    color: variables.$white;
    font-weight: 100;
    font-size: 4vh;
    font-style: italic;
    text-align: center;
    font-stretch: expanded;
}
/* ------------ ESTILO DE TITULOS ------------ */
body{
    font-family: variables.$Roboto;
}
h1{
    font-family: variables.$Raleway;
    font-weight: bold;
    font-size: 5vh;
    font-stretch: expanded;
}
h2{
    font-family: variables.$Raleway;
    font-weight: bold;
    font-size: 4vh;
}
h3{
    font-family: variables.$Raleway;
    font-weight: 200;
    font-weight: bold;
    font-size: 2vh;
}
h4{
    font-family: variables.$Raleway;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5vh;
}
h5{
    font-family: variables.$Raleway;
    font-weight: 400;
    font-size: 1.5vh;
}
/* ------------ ESTILOS DE FOOTER ------------ */
footer {
    grid-area: footer;
    background-color: variables.$blue;
    background-image: variables.$pttA;
    color: variables.$white;
}
.pie {
    @include flexible( flex , row , wrap , space-evenly , center );
    padding: 15px 15px 15px 15px;
    padding: 1vh;
}
.direccion {
    display: block;
    text-align: center;
}
.direccionFoto{
    background-image: url(../img/local.jpg);
    width: 280px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.map{
    border-radius: 5px;
    width: 280px;
    height: 150px;
    margin-bottom: 15px;
}