@use "variables";
/* ------------ LINKS ------------ */
a:link {
    text-decoration: none;
    font-family: variables.$Raleway;
    color: variables.$white;
}
a:visited {
    color: variables.$white;
}
a:hover {
    color: variables.$hover;
}
a:active {
    color: variables.$white;
}
/* ------------ BOTONES ------------ */
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$red;
    border: none;
    border-radius: 5px;
    color: variables.$white;
    margin: 0.5vh 0 0.5vh 0;
    height: 3vh;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
        &:hover{
            background-color:variables.$white;
            box-shadow: variables.$buttonShadow;
            color: variables.$red;
            font-weight: 400;
    }
}
.heroButtonContainer{
    display: flex;
    justify-content: center;
    .button-hero{
        background-image: variables.$pttA;
        background-repeat: repeat;
        background-size: 90vh;
        margin: 1vh;
        width: 20vh;
        height: 6vh;
        @extend .button; /* Aplicado el @extend */
    }
}
.button-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11vh;
    border-radius: 3px;
    @extend .button; /* Aplicado el @extend */
}