@use "variables";
/* ------------ NOSOSTROS HERO ------------ */
#hero-nos {
    position: relative;
    overflow: hidden;
}
#hero-nos:before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: variables.$heroOverlay, url(../img/nosotros.jpg);
    background-size: cover;
    animation: kenBurns 30s infinite;
    z-index: 0;
}
#boxNos{
    width: 75vw;
    margin: 1vh 0px 1vh 0px;
}